@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

@keyframes menuUp {
    0%{
        margin-top: 0px;
    } 100% {
        margin-top: -400px;
    }
}

@keyframes menuDown {
    0%{
        margin-top: -400px;
    } 100% {
        margin-top: 0px;
    }
}

body {
    background-color: #fefff5;
    margin: 0;
}

header {
    margin: auto;
    display: flex;
    width: 80vw;
    padding-top: 25px;
    height: 125px;
    justify-content: space-between;
    align-items: center;
}

#hamburger {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 28px;
}

#full-nav {
    display: none;
}

#mobile-nav {
    position: absolute;
    z-index: 1;
    display: none;
}

#mobile-nav nav {
    background-color: #fafddf;
    width: 100vw;
    height: 350px;
    padding-left: 30px;
    padding-top: 35px;
    border-radius: 0 0 35% 35%;
    padding-left: 30px;
}

#mobile-nav nav ul li {
    margin-bottom: 20px;
}

#close-hamburger {
    margin: 20px 0;
    position: relative;
    left: 75%;
    border: none;
    background-color: transparent;
    font-size: 28px;
}

nav {
    height: max-content;
    align-self: center;
}

nav ul {
    margin: 0;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    display: inline-block;
    width: max-content;
    font-size: 24px;
    text-decoration: none;
    font-family: 'Sanchez', serif;
    color: #4B68CE; 
}

nav ul li a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 0.5em;
}

/* main css */
main {
    margin: 35px auto auto auto;
    width: 80vw;
    font-family: 'Raleway', sans-serif;
    color:#343546;
}

h1 {
    color: #343546;
    font-family: 'Sanchez', serif;
}

h2 {
    color: #4B68CE; 
}

/* footer css */
footer {
    height: 100px;
    padding-top: 25px;
}

footer ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    font-family: 'Sanchez', serif;
}

footer ul li a{
    color: #4B68CE; 
    text-decoration: none;
}

@media only screen and (min-width: 576px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #hamburger, #mobile-nav {
        display: none;
    }
    
    #full-nav {
        display: block;
    } 
    
    /* header css */
    header {
        padding: 25px 0;
        gap: 50px;
        justify-content: unset;
    }

    #logo {
        width: 125px;
        height: 125px;
    }

    /* nav css */

    nav ul {
        display: flex;
        gap: 55px;
    }

    /* main css */
    main {
        width: 80vw;
    }

    h3 {
        line-height: 25px;
    }

    p {
        font-size: 20px;
        line-height: 30px;
    }
    
    ul {
        padding-left: 3em;
        font-size: 20px;
        line-height: 30px;
    }

    /* footer css */
    footer {
        height: 125px;
        padding-top: 75px;
    }

    footer ul {
        flex-direction: row;
    }

    footer ul li {
        margin: 0 40px 0 40px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        max-width: 1200px;
        margin: auto;
    }

    main {
        width: 1200px;
    }
}