#proj-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.project {
    margin: auto;
    width: 1366px;
    height: 300px;
    background-color: grey;
}

/* #proj-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project {
    height: 360px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 30px;
    align-items: center;
}

section {
    width: 600px;
    height: 371px;  
    
}

#coming {
    margin-top: -50px;
    margin-left: 37%;
    font-size: 24px;
}

section:hover {
    cursor: pointer;
}

#fs section{
    background-image: url('./images/icons/fs.png');
    background-size: cover;
}

#blockbuster-video section{
    background-image: url('./images/icons/blockbuster.png');
    background-size: cover;
}

#magic-hour section {
    background-image: url('./images/icons/magic-hour.png');
    background-size: cover;
}

article {
    max-width: 300px;
    margin-top: 100px;
    padding: 10px 20px 10px 20px;
    border: 1px solid black;
    border-radius: 48%;
    background-color: #F9F9F9;
    text-align: center;
}

@keyframes articleUp {
    0%{
        margin-top: 100px;
    } 100% {
        margin-top: -50px;
    }
}

@keyframes articleDown {
    0%{
        margin-top: -50px;
    } 100% {
        margin-top: 1000px;
    }
}

article h1 {
    font-size: 24px;
    font-weight: 700;
}

article p {
    color: black;
    font-size: 16px;
}

 */