.project {
    position: relative;
    margin: auto auto 50px auto;
    min-width: 300px;
    max-width: 550px;
    aspect-ratio: 5/3;
}

.project .image {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: lightgrey;
    border-radius: 20px;
    z-index: -1;
}

.project .title {
    width: 60%;
    position: relative;
    bottom: 30px;
    left: 13%;
    padding: 20px;
    border: 1px solid #4B68CE;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    z-index: -1;
}

#project a {
    display: flex;
    margin-bottom: 15px;
    text-decoration: none;
    color: #4B68CE;
    font-size: 28px;
}

#project a:hover {
    padding: 10px 20px;
    background-color: #4B68CE;
    color: white;
}

#play {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

#about div {
    display: flex;
    flex-direction: column;
    flex: wrap;
    flex-direction: column-reverse;
}

#about img{
    margin:0 150px 0 80px;
    border-radius: 50%;
    width: 150px;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #about div {
        flex-direction: row;
    }

    #about img {
        width: 300px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1400px) {

}