@font-face {
    font-family: "junegull";
    src: url("./fonts/junegull.ttf");
}

* {
    box-sizing: border-box;
}

body {
    background-color: #E8D7CE;
    color: rgb(235, 235, 235);
    transition: all 2s;
}

body.switch {
    background-color: #414B65;
    color: #333;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    min-width: 900px;
    margin: 1em auto;
    padding-top: 1em;
}

header {
    margin: 0 auto 1em auto;
    font-family: 'Roboto', sans-serif;
    color: #603900;
}

header.switch {
    font-style: italic;
    color: #FEEFE7;
}

#light, #dark {
    position: relative;
    /* display: flex; */
    width: 1100px;
    height: 250px;
    margin: auto;  
    border-radius: 25px;
    overflow: hidden;
}

#light {
    background-color: #FBE6C8;
}

#bowl {
    position: relative;
    width: 800px;
    height: 750px;
    background-color: #EFC8B1;
    border: 20px solid #603900;
    border-radius: 50%;
    bottom: 100%;
    left: 150px;
    z-index: 1;
}

/* ------------------- letters css ------------------- */

.letters {
    position: absolute;
    font-family: "junegull", sans-serif;
    font-size: 130px;
    color: #FBE6C8;
    z-index: 2;
}

@keyframes rotatep15 {
    
}

#g {
    left: 225px;
    top: 30px;
    transform: rotate(-15deg);
}

#g:hover, #s:hover {
    transform: rotate(15deg);
}

#o1 {
    left: 300px;
}
#o1:hover {
    transform: scale(120%);
}

#o2 {
    left: 370px;
    top: 60px;
}
#o2:hover {
    transform: scale(70%);
}

#d {
    left: 465px;
    top: 90px;
    transform: rotate(15deg);
}

#d:hover, #u:hover, #p:hover {
    transform: rotate(-15deg);
}

#s {
    left: 575px;
    top: 30px;
    transform: rotate(-15deg);
}

#carrot {
    /* give width and height , set as bg image */
    width: 77px;
    height: 74px;
    background-image: url("images/carrot.svg");
    left: 650px;
    top: 35px;
} 
#carrot:hover {
    transform: rotate(25deg);
}

#u {
    left: 715px;
    top: 85px;
    transform: rotate(12deg);
}

#p {
    left: 805px;
    top: 10px;
    transform: rotate(4deg);
}
/* ------------------- letters css end ------------------- */

#dark {
    background-color: #575757;
}

.bubble {
    position: relative;
    background: #C4C4C4;
    color: #FEEFE7;
    font-family: Arial;
    font-size: 20px;
    line-height: 90px;
    text-align: center;
    width: 551px;
    height: 90px;
    border-radius: 46px;
    left: 50px;
    margin: 20px 0;
}
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: transparent #C4C4C4;
    border-width: 13px 20px 13px 0;
    top: 50%;
    left: -18px;
    margin-top: -13px;
}

.bubble p {
    margin: 0;
    font-family: "junegull";
    font-size: 60px;
    font-style: normal;
}

#bubble1 {
    width: 610px;
}

#bubble2 {
    width: 850px;
}

#banner.switch {
    background-color: #333;
    color: rgb(235, 235, 235);
    transition: all 2s;
}

#info {
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: space-evenly;
    margin: 1em auto;
}

main section {
    width: 20%;
/*     background-color: rgb(235, 235, 235);
 */    border: 5px rgb(235, 235, 235) solid;
    border-radius: 30px;
    margin: 0 .25em;
    padding: 20px;
}

main section.switch {    
    border-color: transparent;
    background-color: #E5E5E5;
}

h3 {
    margin: 10px 0;
    font-family: "junegull";
    font-size: 28px;
}

body.switch h3 {
    color: #414B65;
}

#projects {
    color: #5f8555;
}

#research {
    color: #c28b6c;
}

#development {
    color: #7ca1c4;
}

#final {
    color: #a8779e;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    padding-left: 1.2em;
}

section a {
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: #A89476;
}

section a:hover {
    background-color: orange;
    color: #333;
}

section.switch a {
    color: #333;
}

section.switch a:hover {
    background-color: #333;
    color: rgb(235, 235, 235);
}

button {
    position: absolute;
    top: 5px;
    right: 20px;
    padding: 12px;
    width: 141px;
    height: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #603900;
    font-weight: 700;
    background-color: transparent;
    border: 1px solid transparent; 
    background-image: url("images/spoon.svg");
}

button:hover, button.switch:hover {
    transform: rotate(15deg);
    cursor: pointer;
}

button.switch {
    color: #FEEFE7;
    background-image: url("images/spoon-switch.svg");
}

.hidden {
    display: none;
}

.show {
    display: block;
}