@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

#tagline {
    margin: 0 0 70px 0;
    color: #6A7966;
    border: none;
    width: auto;
}

.thumbnail img {
    width: 375px;
}

.thumbnail:hover {
    text-decoration: none;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: none;
}

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
}

@media only screen and (min-width: 576px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #tagline {
        margin: 70px 0 70px 0;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #tagline {
        margin: 120px 0 150px 0;
    }

    ul {
        flex-direction: row;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}