@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

body {
    /* background-color: rgb(27, 11, 11); */
    background-color: #FCF9F2;
}

.hidden-display {
    display: none;
}

.show-display {
    display: inline;
}

.hidden-opacity {
    opacity: 0;
}

.show-opacity {
    opacity: 100%;
}

/* characters */

#character-container {
    /* margin-top: 18%; */
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#characters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pinyin, .alphabet {
    margin: 0;
    font-size: 28px;
    color: #b73434;
}

.chinese {
    margin: 0;
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 122px;
    color: #b73434;
}

/* #btn-to-bg, #btn-to-purpose, #btn-to-main {
    position:absolute;
    bottom: 50px;
    right: 50px;
} */

#hero-image {
    width: 100vw;
    height: 100vh;    
    background: url("./media/flavors.svg") no-repeat center;
}

/* ----------------------- */


#characters p {
    margin-top: -70px;
    width: 700px;
    text-align: center;
    /* color: #FCF9F2; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}

#characters button {
    margin: 20px 0 50px 0;
    border: 1px solid #922121;
    padding: 5px 15px;
    font-size: 20px;
    background-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #922121;
}

#characters button:hover {
    background-color: #922121;
    color: #FCF9F2;
}


/* header css */

header {
    margin-left: 5%;
    position: fixed;
}

ul {
    list-style: none;
}

li {
    margin-top: 20px;
}

nav ul li:hover {
    cursor: pointer;
}

#title-box {
    margin-top: 25px;
    width: 260px;
}

#add-card-btn:hover {
    transform: scale(1.1);
}

#add-card-btn {
    
}

#about-btn {
    margin-left: -30px;
}

#about-btn:hover {
    transform: scale(1.1);
}

/* ----------------------- */

/* overlay css */
#add-card-form, #about-overlay {
    position: fixed;
    top: 50px;
    left: 400px;    
    display: none;

    width: 900px;
    height: 500px;
    padding: 50px;
    background-color: #FBE6C8;
    z-index: 1;
}

/* add card form css */
#form-head {
    display: flex;
    justify-content: space-between;
}

#input-container {
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: Verdana;
    color: #922121;
}

label {
    margin-bottom: 5px;
    color: #922121;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

textarea, input { 
    outline: none; 
    margin-bottom: 15px;
    padding:5px;
    border: 2px #922121 solid;
    border-radius: 5px;
}

#name {
    width: 250px;
}

#note {
    max-width: 890px;
    min-height: 150px;
    max-height: 250px;
}

#flavor {
    width: fit-content;
    height: 30px;
    padding: 0 10px;
    border: 2px #922121 solid;
    border-radius: 5px;
    background-color: #FEEFE7;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#flavor-container {
    margin-top: 10px;
}

input[type=radio]+label {
    padding: 5px;
    border: 1px solid #922121;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=radio]+label:hover, input[type=radio]:checked+label {
    color: #FCF9F2;
    background-color: #922121;
}

input[type=submit] {
    position: relative;
    left: 795px;
}

.button {
    height: 35px;
    padding: 5px 10px;
    border: none;
    border-radius: 0;
    background-color: #922121;
    color: #FEEFE7;
    font-family: Verdana;
}

.button:hover {
    cursor: pointer;
}

#about-overlay {
    display: none;
}

#close-about {
    position: relative;
    left: 850px;
}

/* ----------------------- */

/* display port css */

#gallery-display {
    margin-left: 450px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    row-gap: 0;
    column-gap: 100px;
}

#gallery-display li{
    margin-bottom: 25px;
}

.displayed-card {
    height: max-content;
}

.card-flavor {
    position: relative;
    top: 50px;
    left: 140px;
    max-width: fit-content;
    padding: 3px 10px;
    border: 1px #922121 solid;
    background-color: #FCF9F2;
    /* background-color: #FBE6C8; */
    color: #922121;
    font-family: Verdana;
    font-size: 18px;
}
.card-note {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 218px;
    background-image: url("media/blob2.svg");
    background-size: cover;
    overflow-wrap: break-word;
}

.card-note p {
    text-align: center;
    color: rgb(34, 14, 14);
    background-color: #FCF9F2;
    font-size: 16px;
}

/* .swatch {
    margin-top: 20px;
    width: 150px;
    height: 80px;
} */

#refresh {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
}

#refresh:hover {
    transform: scale(1.1);
}