@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Fredoka+One&display=swap');

body {
    background-color: midnightblue;
    height: 768px;
}

#front-page-container {
    display: flex;
    flex-direction: row;
}

#img-container {
    margin-top: -10px;
    height: 768px;
}

header h1 {
    margin: 25px 0 15px 0;
    color: #EE2BAC;
    font-family: 'Fredoka One', cursive;
    font-size: 53px;
}

form {
    background-color: #F4E7E7;
    width: 500px;
    padding: 30px 0px 20px 50px;
    border-radius: 25px;
}

form label {
    display: block;
    margin-top: 20px;
    font-family: 'Arvo', serif;
    font-size: 24px;
}

#no-block {
    display: inline;
    margin-right: 20px;
}

form input, form select {
    margin: 5px 0 15px 0;
}

#selections {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

div ul {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    width: 450px;
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    list-style: none;
}

div ul li a {
    color: #EE2BAC;
    text-decoration: none;
}

/* custom inputs css here */
select {
    width: 75px;
    height: 75px;
    border: solid 2px white;
    border-radius: 50%;
    padding: 5px;
}

input[type=submit] {
    margin-left: 26%;
    width: 162px;
    height: 50px;
    background-color: #6584D6;
    color: #F6F3D2;
    font-family: 'Fredoka One', cursive;
    font-size: 24px;
    border: none;
    border-radius: 25px;
}

input[type=text] {
    width: 200px;
    height: 25px;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 18px;
    font-size: larger;
}
/* ---------------------- */

.hidden {
    display: none;
}

.show {
    display: block;
}

/* overlay css starts here */
#overlay {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    font-size: 36px;
}

#overlay article {
    position: absolute;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    background-color: white;
    padding: 20px;
    width: 100%;
    height: 100%;
}

.reg {
    margin: -10px 0 0 0;
}

.comp {
    background-color: mediumaquamarine;
    border-radius: 25px;
    padding: 10px 30px 10px 30px;
}

#colorP1 {
    margin-left: 10%;
}

#colorP2 {
    margin-left: 30%;
}

#colorP3 {
    margin-left: 50%;
}

.w {
    width: 100%;
    height: 223px;
}

#w2, #w3 {
    margin-top: -110px;
}


/* ----------------------- */